{:merchant_id merchant1, :subscription_id silver-express-898, :allowed_plans [silver-express-898 plan_Cn54D1U8rfgIrB platinum-performance], :password $2a$10$j.0jp8wxnJDv9prtOtWGC.J4AvTxQrdZS6TVKb90juaU8aIkVQ.ay}